@use './m-text.scss';
@use './m-image.scss';
@use '../mixins/mixin-card.scss';

@mixin m-about {
    .m-about {
        @include m-text.m-text;
        @include m-image.m-image;
        @include mixin-card.mixin-card;
        justify-content: left;
        .m-image {
            background: url(~img/about.jpg) no-repeat center center;
            background-size: cover;
            margin: 0;
            height: 100%;
            width: 35%;
            min-width: 450px;
        }
        .m-text {
            margin-left: 5rem;
        }
    }
}