@use './m-text.scss';
@use './m-image.scss';
@use '../mixins/mixin-card.scss';

@mixin m-story {
    .m-story {
        @include m-text.m-text;
        @include m-image.m-image;
        @include mixin-card.mixin-card;
        justify-content: flex-end;
        background: url(~img/AdobeStock_100276406_v6.png) no-repeat right center;
        background-size: cover;
        align-items: flex-start;
        color: rgb(233, 233, 233);
        .m-text {
            width: 35%;
            margin-left: 4rem;
            margin-right: 8rem;
        }
    }
}