@use './m-scrollhint.scss';

@mixin m-startvid {
    .m-startvid {
        background: url(~img/AdobeStock_137145870.jpeg) no-repeat top center;
        background-size: cover;
        overflow: hidden;
        width: 100%;
        height: 100%;
        & > video {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 70%;
        }
    }
    @include m-scrollhint.m-scrollhint;
}