@use '../../data/vars.json' as vars;

.m-animation-video {
    height: 40%;
    left: 10%;
    overflow: hidden;
    position: absolute;
    top: 30%;
    width: 80%;

    .vjs-tech {
        height: 100%;
        object-fit: contain;
        object-position: center center;
        width: 100%;
    }
}

.slogan-visible .m-animation-video {
    transform: translate(0, -50%);
    transition: #{vars.$index-animation-video-transform-transition};
}
