@use '../../data/vars.json' as vars;

.m-animation-background {
    background: url('~img/marble.jpeg') no-repeat center center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.slogan-visible .m-animation-background {
    opacity: 0;
    transition: #{vars.$index-animation-background-opacity-transition};
}
