@use '../../data/vars.json' as vars;

.m-arrow-container-fixed {
    background-size: contain;
    display: block;
    height: vars.$arrow-relative-height-fraction-mobile * 100%;
    margin: 0 auto;
    width: vars.$arrow-width;
}

.m-arrow-container-fixed.prev {
    &.black {
        background: url('~svg/prev_arrow_black.svg') no-repeat center center;
    }

    &.white {
        background: url('~svg/prev_arrow_white.svg') no-repeat center center;
    }
}

.m-arrow-container-fixed.next {
    &.black {
        background: url('~svg/next_arrow_black.svg') no-repeat center center;
    }
}
