@use '../../data/vars.json' as vars;

.m-arrow-container {
    background-size: contain;
    display: block;
    overflow: hidden;
    width: vars.$arrow-width;
}

.m-arrow-container.prev {
    height: vars.$arrow-relative-height-fraction-mobile * 100%;
    margin: 0 auto;

    &.black {
        background: url('~svg/prev_arrow_black.svg') no-repeat center center;
    }

    &.white {
        background: url('~svg/prev_arrow_white.svg') no-repeat center center;
    }
}

.m-arrow-container.next {
    height: 150px;
    margin: 70px auto 0;

    &.black {
        background: url('~svg/next_arrow_black.svg') no-repeat top center;
    }
}
