@use '../../data/vars.json' as vars;

.m-global-goals-logo {
    background: url('~svg/gG_vertical_logo.svg') no-repeat center center;
    background-size: contain;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: vars.$z-index-partner-logos;
}
