@use '~rfs/scss' as rfs;
@use '../../data/vars.json' as vars;

rfs.$rfs-two-dimensional: vars.$rfs-two-dimensional;
rfs.$rfs-factor: vars.$rfs-factor;
rfs.$rfs-rem-value: vars.$rfs-rem-value;
rfs.$rfs-base-value: vars.$rfs-base-value;

.m-header {
    @include rfs.font-size(vars.$h4-font-size-mobile-rfs);

    align-items: center;
    display: flex;
    left: 0;
    opacity: 1;
    padding: vars.$header-padding-bottom-top-mobile vars.$header-padding-left-right-mobile;
    position: fixed;
    right: 0;
    top: 0;
    transition: #{vars.$header-visible-opacity-transition};
    z-index: vars.$z-index-header;

    &.is-not-visible {
        opacity: 0;
        transition: #{vars.$header-not-visible-opacity-transition};
    }
}
