@use '../../data/vars.json' as vars;

.m-image-container {
    height: 100%;
    overflow: hidden;
    transition: #{vars.$nav-close-image-container-opacity-transition};
    width: 100%;
}

.#{vars.$navigation-open-class} {
    .m-image-container {
        opacity: 0;
        transition: #{vars.$nav-open-image-container-opacity-transition};
    }
}
