@use '../../data/vars.json' as vars;

.m-imprint-toggle {
    opacity: 1;
    transition: #{vars.$nav-close-footer-opacity-transition};
}

.#{vars.$navigation-open-class} {
    .m-imprint-toggle {
        opacity: 0;
        transition: #{vars.$nav-open-footer-opacity-transition};
    }
}
