.m-image {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.top-arrow {
    .m-image {
        height: 62.5%;
        top: 37.5%;
    }
}

.no-top-arrow {
    .m-image {
        height: 100%;
        top: 0;
    }
}
