@use '../../data/vars.json' as vars;

.m-insta-link {
    background: url('~svg/insta_glyph.svg') no-repeat center center;
    background-size: auto;
    height: vars.$social-media-to-h5-relative-size-mobile-rfs;
    margin-right: vars.$social-media-margin-left-right-mobile;
    width: vars.$social-media-to-h5-relative-size-mobile-rfs;
}
