@use '../../data/vars.json' as vars;

.m-media-canvas {
    position: sticky;
    top: ( vars.$media-canvas-sticky-fraction-mobile - vars.$media-canvas-height-fraction-mobile ) * 100%;
    width: 100%;
    z-index: vars.$z-index-image-container;
}
