@use '../../data/vars.json' as vars;

.m-product {
    .m-image-container > .m-image {
        object-fit: contain;
        object-position: center;
    }

    .m-text-mask {
        background: vars.$churchill-gold;
    }
}
