@use '../../data/vars.json' as vars;

.m-questionaire-link {
    opacity: 1;
    transition:
        #{vars.$nav-close-header-opacity-transition},
        #{vars.$nav-close-header-visibility-transition};
}

.#{vars.$navigation-open-class} {
    .m-questionaire-link {
        opacity: 0;
        transition:
            #{vars.$nav-open-header-opacity-transition},
            #{vars.$nav-open-header-visibility-transition};
        visibility: hidden;
    }
}
