.m-slogan-container {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 50%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
