@use '../../data/vars.json' as vars;

.m-text-mask {
    background: vars.$background-white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: vars.$z-index-text-mask;
}
