@use '../../data/vars.json' as vars;

.#{vars.$overflown-text-class} {
    display: block;
    opacity: inherit;
    text-align: left;
    white-space: nowrap;
    &.#{vars.$overflown-text-class} {
        display: inline;
        white-space: normal;
    }
}
