.m-video-container {
    height: 100%;
    position: absolute;
    width: 100%;

    .vjs-tech {
        height: 100%;
        object-fit: cover;
        object-position: right center;
        width: 100%;
    }
}
