@use '../../../node_modules/rfs/scss' as rfs;
rfs.$rfs-two-dimensional: true;
rfs.$rfs-rem-value: 12;
rfs.$rfs-base-value: 1.25;
rfs.$rfs-factor: 2;

@mixin f-fonts01 {
    .f-fonts01 {
        p, pre, h1, h2, a {
            font-family: 'Open Sans', sans-serif;
            color: #4D4D4D;
            margin: 0;
        }
        h1 {
            margin: 0 3rem ;
            @include rfs.font-size(5rem);
            font-weight: 700;
            text-align: center;
            flex: auto 0 1;
        }
        h2 {
            margin: 3rem 0;
            font-size: 28pt;
            font-weight: 700;
            flex: auto 0 1;
        }
        p {
            @include rfs.margin-top(22px);
            margin-bottom: 0;
            @include rfs.font-size(22px);
            font-weight: 700;
            line-height: 1.5em;
            text-align: justify;
            text-align-last: center;
            flex: auto 0 1;
            & > span {
                display: block;
                text-align-last: center;
            }
        }
        @media (max-width: 700px) {
            h1 {
                text-align: center;
                margin: 0 0;
                //font-size: 2rem;
            }
        }
    }
}